.App {
  background-color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-wrapper {
  width: 370px;
	height: 768px;
}

@media(max-width: 720px) {
  .story-wrapper{
    width: 100vw;
    height: 100vh;
  }
}